AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME="<YOUR_VALUE>"
_AIRFLOW_WWW_USER_PASSWORD="<YOUR_VALUE>"
_AIRFLOW_WWW_USER_FIRSTNAME="<YOUR_VALUE>"
_AIRFLOW_WWW_USER_LASTNAME="<YOUR_VALUE>"
_AIRFLOW_WWW_USER_EMAIL="<YOUR_VALUE>"

POSTGRES_HOST="host.docker.internal"
POSTGRES_PORT="5432"
POSTGRES_AIRFLOW_DB="airflow"
POSTGRES_USER="<YOUR_VALUE>"
POSTGRES_PASSWORD="<YOUR_VALUE>"